body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.m10{
  margin: 10px;
}

.mt10{
  margin-top: 10px;
}

.pt10{
  padding-top: 10px;
}

.p10{
  padding: 10px;
}

.mt10{
  margin-top: 10px;
}

.mb0{
  margin-bottom: 0px !important;
}

.h200{
  height: 200px;
}

.hover-red{
  transition: 0.3s;
}
.hover-red:hover{
  color: red !important;
}