  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Notes App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ml-auto">
          {{#if data_user}}
            <li class="nav-item">
              <a class="nav-link" href="/notes">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notes/add" aria-disabled="true">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout" aria-disabled="true">Logout</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/users/signin">SignIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/signup" aria-disabled="true">SignUp</a>
            </li>

          {{/if}}
        </ul>

      </div>
    </div>
  </nav>
