<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        Sing Up
      </div>
      <div class="card-body">
        <form action="/users/signup" method="post">
          <div class="form-group">
            <label class="control-label" for="user_name">Nombre de Usuario</label>
            <input class="form-control" id="user_name" name="user_name" type="text" value="{{user_name}}">
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input class="form-control" id="email" name="email" type="Email" value="{{email}}">
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password" value="{{password}}">
          </div>
          <div class="form-group">
            <label class="control-label" for="confirm_password">Confirm Password</label>
            <input class="form-control" id="confirm_password" name="confirm_password" type="password" value="{{confirm_password}}">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 mt10">SignUp</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>